/* About Page Styles */
.top-content .about-text-container{
    width: 94%;
}

/* Container Styles */

.call-to-action{
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    height: 35px;
    width: 125px;
}