/* Contact Styles */

/* Header Styles */
.page-header{
    justify-content: space-evenly;
}

.page-header div{
    padding-right: 20px;
    justify-content: space-evenly;
}

/* Form Styles */
.contact-middle-content{
    border-top: 1px dashed black;
    font-size: 1.5em;
    padding: 20px 10px;
}

.form-section{
    justify-content: space-around;
}

.submit-section{
    justify-content: flex-end;
}